
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');


.card {
  margin-left: 40px;
}

.margin {
  margin-left: 20px;
  font-family:'Noto Serif', serif;;
}